<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <style>

        .main-body{
            background-color:#fcfcfc;
            position:absolute;
            width:100%;

        }

        .page-name{
            /* border:solid green 2px;*/
            width:100%;
            height:5%;
            font-family: 'Poppins', sans-serif;

        }

        /** for body**/

        .header{

            background-color:white;
            /*border:solid black 2px;*/
            /* border-style: solid;*/
            border-bottom: 1px groove #f2f5f5;
            width:100%;
            height:8%;
        }

        .page-name{
            /* border:solid green 2px;*/
            width:100%;
            height:5%;
            font-family: 'Poppins', sans-serif;

        }

        .description{
            /*border:solid black 2px;*/
            width:100%;
            height:25%;
            text-align:center;
            background-color:#f0f2f0;
        }

        #descTitle{
            font-family: 'Abril Fatface', cursive;
            font-size:30px;
            color:palevioletred;
        }

        #DescDetail{
            font-family: 'Quicksand', sans-serif;
            font-size:20px;
        }

        .display{
            width:80%;
            /* height:100%;*/
            /*  border:solid green 2px;*/
            text-align:left;
        }

        .sign{
            width:100%;
            padding-left: 30px;
            padding-top: 30px;
            padding-right: 30px;
            background-color:white;
            color:palevioletred;
            height:200px;
            /*border:solid red 2px;*/
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        /*components*/

        #StreeLogo{
            background-color:palevioletred;
            border-radius: 0px 50px 50px 0px;
            border:none;
            width:80%;
            font-size:30px;
            font-family: 'Abril Fatface', cursive;
            height:100%;

        }

        #FontPageName{

            left:10%;
        }

        #flexSaree{
            left:60%;
        }

        .card{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .footer{
            background-color:palevioletred;
            width:100%;
            /*border:solid green 2px;*/
            height:200px;
        }

        #signUpBtn{
            background-color:palevioletred;
            color:white;
        }

        #singleProduct{
        //border:solid red;
        }

        #sideSmallPics{
            border:solid black 1px;
            padding-top:2px;
            padding-bottom:2px;
        }

        #prodDesc{
        //border:solid red;
            background-color:#d2d3d6;
        }

        #desctext0{
            font-size:20px;
            font-family: 'Raleway', sans-serif;
            text-align:left;
        }

        #desctext1{
            font-size:30px;
            font-family: 'Abril Fatface', cursive;
            text-align:left;
        }

        #desctext2{
            font-size:20px;
            font-family: 'Raleway', sans-serif;
            text-align:left;
        }

        #linewizedetail{
            width:100%;
            background-color:#e8eaed;
            padding-left:130px;
            font-family: 'Raleway', sans-serif;
        }
        /** end of code for body **/


        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }
        body {
            /**padding: 1em;**/
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 15px;
            color: black;
            background-color: #e3e3e3;
        }
        /**h6 {
            color: #7ed321;
        }**/
        input,
        input[type="radio"] + label,
        input[type="checkbox"] + label:before,
        select option,
        select {
            width: 100%;
            padding: 1em;
            line-height: 1.4;
            background-color: #f9f9f9;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            -webkit-transition: 0.35s ease-in-out;
            -moz-transition: 0.35s ease-in-out;
            -o-transition: 0.35s ease-in-out;
            transition: 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }
        input:focus {
            outline: 0;
            border-color: #64ac15;
        }
        input:focus + .input-icon i {
            color: #7ed321;
        }
        input:focus + .input-icon:after {
            border-right-color: #7ed321;
        }
        input[type="radio"] {
            display: none;
        }
        input[type="radio"] + label,
        select {
            display: inline-block;
            width: 50%;
            text-align: center;
            float: left;
            border-radius: 0;
        }
        input[type="radio"] + label:first-of-type {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        input[type="radio"] + label:last-of-type {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        input[type="radio"] + label i {
            padding-right: 0.4em;
        }
        input[type="radio"]:checked + label,
        input:checked + label:before,
        select:focus,
        select:active {
            background-color: #7ed321;
            color: #fff;
            border-color: #64ac15;
        }
        input[type="checkbox"] {
            display: none;
        }
        input[type="checkbox"] + label {
            position: relative;
            display: block;
            padding-left: 1.6em;
        }
        input[type="checkbox"] + label:before {
            position: absolute;
            top: 0.2em;
            left: 0;
            display: block;
            width: 1em;
            height: 1em;
            padding: 0;
            content: "";
        }
        input[type="checkbox"] + label:after {
            position: absolute;
            top: 0.45em;
            left: 0.2em;
            font-size: 0.8em;
            color: #fff;
            opacity: 0;
            font-family: FontAwesome;
            content: "\f00c";
        }
        input:checked + label:after {
            opacity: 1;
        }
        select {
            height: 3.4em;
            line-height: 2;
        }
        select:first-of-type {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        select:last-of-type {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        select:focus,
        select:active {
            outline: 0;
        }
        select option {
            background-color: #7ed321;
            color: #fff;
        }
        .input-group {
            margin-bottom: 1em;
            zoom: 1;
        }
        .input-group:before,
        .input-group:after {
            content: "";
            display: table;
        }
        .input-group:after {
            clear: both;
        }
        .input-group-icon {
            position: relative;
        }
        .input-group-icon input {
            padding-left: 4.4em;
        }
        .input-group-icon .input-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 3.4em;
            height: 3.4em;
            line-height: 3.4em;
            text-align: center;
            pointer-events: none;
        }
        .input-group-icon .input-icon:after {
            position: absolute;
            top: 0.6em;
            bottom: 0.6em;
            left: 3.4em;
            display: block;
            border-right: 1px solid #e5e5e5;
            content: "";
            -webkit-transition: 0.35s ease-in-out;
            -moz-transition: 0.35s ease-in-out;
            -o-transition: 0.35s ease-in-out;
            transition: 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }
        .input-group-icon .input-icon i {
            -webkit-transition: 0.35s ease-in-out;
            -moz-transition: 0.35s ease-in-out;
            -o-transition: 0.35s ease-in-out;
            transition: 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }
        .container {
            max-width: 80%;
            padding: 1em 3em 2em 3em;
            margin: 0em auto;
            background-color: #fff;
            border-radius: 4.2px;
            box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
        }
        @media only screen and (max-width: 600px) {
            .container {
                max-width: 100%;
            }
        }
        .row {
            zoom: 1;
        }
        .row:before,
        .row:after {
            content: "";
            display: table;
        }
        .row:after {
            clear: both;
        }
        .col-half {
            padding-right: 10px;
            float: left;
            width: 50%;
        }
        .col-half:last-of-type {
            padding-right: 0;
        }
        .col-third {
            padding-right: 10px;
            float: left;
            width: 33.33333333%;
        }
        .col-third:last-of-type {
            padding-right: 0;
        }
        @media only screen and (max-width: 540px) {
            .col-half {
                width: 100%;
                padding-right: 0;
            }
        }
        #lappyImg {
            display: block;
        }
        #mobImg{
            display: none;
        }
        @media only screen and (max-width: 600px) {
            #lappyImg {
                display: none;
            }
            #mobImg{
                display: block;
            }
        }


    </style>
</head>
<body>

<div class="main-body">

    <!-----------------------header and nav-bar------------------->

    <!---<div class="w3-display-container" style="margin-bottom:50px">
        <img id="lappyImg" src="/images/im3.jpg" style="width:100%; height:300px;opacity:0.7;">
        <img id="mobImg" src="/images/im2.jpg" style="width:100%; height:300px;opacity:0.7;">
        <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange"
             style="bottom:10%;opacity:0.7;width:70%">
            <h2><b></b></h2>
        </div>
    </div>--->

    <!-------------------------back button--------------------------------------------------------------->
    <div class="row" id="recipieUpload">
        <div class="col-12"><center>
                <form method="POST" action="/back-to-store">
                    <input type="text" name="emailbusiness" value='<%=email%>' hidden/>
                    <input type="text" name="businessName" value='<%=bName%>' hidden/>
                    <input type="text" name="businessCity" value='<%=bCity%>' hidden/>
                    <input type="text" name="refId" id="sendRefId" hidden/>
                    <h4><input type="submit" value="<<" class="w3-button w3-xlarge" style="width: 10%;"><b> Back to Store</b></h4>
                </form></center></div>
    </div>

    <!-------------------- display ---------------------------------------------------->
    <div class="container">

        <form id="addItemInfoForm" enctype="multipart/form-data" method="GET" action="itemInfoAdded">
            <input type="text" name="emailbusiness" id="emailB" value='<%=email%>' hidden/>
            <input type="text" name="businessName" id="bName" value='<%=bName%>' hidden/>
            <input type="text" name="businessCity" value='<%=bCity%>' hidden/>
            <div class="form-group">

                <h6><b>Select Item Category</b></h6>
                <select name="itemCatSelect" id="selectCatItem" class="form-control" form="addItemInfoForm">
                    <option value="">-----Select-----</option>
                    <option value="laundryAndDetergents">Laundry And Detergents</option>
                    <option value="babyCare">Baby Care</option>
                    <option value="cleaningAndHousehold">Cleaning And Household</option>
                    <option value="beautyAndHygiene">Beauty And Hygiene</option>
                    <option value="kitchenGardenAndPets">Kitchen Garden And Pets</option>
                    <option value="foodgrainsAndMasalas">Foodgrains And Masalas</option>
                    <option value="beverages">Beverages</option>
                    <option value="fruitsAndVegetables">Fruits And Vegetables</option>

                </select>
            </div><br><br>

            <h6><b>Enter Commodity Name</b></h6>
            <div class="input-group input-group-icon">
                <input type="text" name="commodityNameInput" id="itemNameTxt" placeholder="Common name for this commodity" />
            </div>

            <h6><b>Enter Brand Name</b></h6>
            <div class="input-group input-group-icon">
                <input type="text" name="commodityBrandInput" id="itemBrandTxt" placeholder="type the brand of that commodity" />
            </div>

            <h6><b>Enter Price</b></h6>
            <div class="input-group input-group-icon">
                <div class="row">
                    <div class="col-2">
                        <label><font size="5"> ₹ </font> </label>
                    </div>
                    <div class="col-10">
                        <div class="form-group">
                            <input type="text" name="commodityPriceInput" id="itemPriceTxt" placeholder="type price here..." />
                        </div>
                    </div>
                </div>
            </div>

            <h6><b>Enter Quantity</b></h6>
            <div class="input-group input-group-icon">
                <input type="text" name="commodityQuantityInput" id="itemQntTxt" placeholder="Quantity of item" />
            </div>

            <h4><input type="submit" style="background-color:#64ac15;color: white" class="fadeIn fourth" value="Save"></h4>
        </form>
<label><h6 id="errorMsg"></h6></label>
    </div>
    <br><br>
    <!--------------------------------------end of display----------------------------------------------------->
    <!------------------------------------footer------------------------------>


    <!--------------------------------end of footer--------------------->
</div>
</body>
</html>