<html>
<title><%=title%></title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter:700&display=swap" rel="stylesheet">
    <link href="/stylesheets/auth.css" rel="stylesheet">

</head>
<!------ Include the above in your HEAD tag ---------->
<body>

<% include Template/header.ejs %>
<br><br><br><br>
<div class="container contact-form">
    <div class="contact-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
    </div>
    <form id="businessLaunching" method="POST" action="/homepage" enctype="multipart/form-data">
        <input type="text" name="emailbusiness" value='<%=email1%>' hidden/>
        <input type="text" name="namebusiness" value='<%=bName%>' hidden/>
        <input type="text" name="bCity" value='<%=bCityName%>' hidden/>
        <h3 class="w3-xxlarge greetHeadline w3-hide-small"><font color="black">Connecting <b><%=bName%></b> on bybrisk.com</font></h3>
        <h3 class="w3-xlarge w3-hide-large w3-hide-medium greetHeadline"><font color="black">Connecting <b><%=bName%></b> on bybrisk.com</font></h3>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label><font size="3"><h5>Click the picture of your shop</h5></font> </label>
                    <label><font size="2">(It should contain Outdoor Signage Board of your shop)</font> </label>
                    <input type="file" name="bHoardingPic" id="maleno" class="form-control" form="businessLaunching">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label><font size="2">Set a password</font> </label>
                    <input type="password" name="passwordTxtField" id="pass" class="form-control" placeholder="Password *" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label><font size="2">Confirm password</font> </label>
                    <input type="password" name="cnfPasswordTxtField" id="cnfPass" class="form-control" placeholder="Retype Password *" onkeyup="checkPassword()"/>
                    <lable><h5 id="showMsg"></h5></lable>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" id="continueBtn" value="Continue" disabled/>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function checkPassword(){
        pass=document.getElementById("pass").value;
        cnfPass=document.getElementById("cnfPass").value;
        if(pass==""||cnfPass==""){
            document.getElementById("showMsg").innerHTML="";
        }
        if(pass!=cnfPass){
            document.getElementById("showMsg").innerHTML="Password Donot Match";
            document.getElementById("continueBtn").disabled=true;
        }
        else{
            document.getElementById("showMsg").innerHTML="Password match";
            document.getElementById("continueBtn").disabled=false;
        }
    }
</script>

</body>
</html>
